*{
	margin: 0;
	padding: 0;
}

body{
	background: #ccc;
	font-size: 14px;
	margin: 0;
	padding:0;
}

a{
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

i,em{font-style: normal;}

div{
	padding-bottom: 0px;
}

p{
	line-height: 1.8;
}



.pic1,.pic2{
	width: 50px;
	height: 50px;
	background-color: #ccc;
	margin:20px;
}

.pic1{
	/*background: url(../img/p2.png) center top no-repeat;*/
}

.pic2{
	background: url(../pic/qqd-weixin.png) center top no-repeat;
}










