*{
	margin: 0;
	padding: 0;
}

body{
	background: red;
	font-size: 14px;
	margin: 0;
	padding:0;
}

a{
	color: #333;
	text-decoration: none;
	font-size: 12px;
}

i,em{font-style: normal;}

div{
	padding-bottom: 0px;
}